body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

.btn-start{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid cornflowerblue;
}
.container{
    background-color: #7FFFD3;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    
}

.cell{
    aspect-ratio: 1;
    width: calc(100% / 10);
    border: 1px solid black;
    align-self: flex-start;
}

